@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {/* une variable doit toujours comentcer par 2 tirets --*/
    --white : white;
    --black: black;
    --orange: orange;
    --grey: #999999;
    --grey-light: #f8f9fa;
    --grey-dark: #4a4a4b;
    --green: #a2c0be;


}
body {
    font-family: 'open sans', 'sans serif';
    font-size: 16px;
    margin: 0;
}
#menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding: 20px 0 20px 0;/* haut droit bas gauche*/
}

.logo {
    font-size: 2rem;
    text-decoration: none;
    color: var(--black);
}

.logo span {
    color: var(--orange);
}

#menu nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
}

#menu nav ul li a {
    text-decoration: none;
    color: #999999;
    transition : color 350ms;
}

#menu nav ul li a:hover {/*changer la couleur au survoole de la souris */
    color: #4a4a4b ;
    transition : color 350ms;/* la transistion evite une modification  couleur en douceur */
}

header {
    background-color: var(--grey-light);
}


/*titrte slogan image du chien */
header section {
   display: flex;
   justify-content: space-between;/* centrage horizontal ne foncytionne qu'avec flexbox*/
   width: 60%;
   margin: auto;
   align-items: center; /*centrage vertical avec flex box*/

}


/*largeur de l'image contenu dans le header */
.headerDog {
    width : 35%;
}

.headerTitle h1 {
    font-size: 4rem;
    margin: 0; /*suppression des marges auto sur la balise heading*/
    font-weight: lighter;

}

.headerTitle p {
    font-size: 1.3rem;
    margin: 0;
    font-weight: lighter;
    color:  var(--grey);
}

/*partie main du site */

.welcome {
    text-align: center;
    width: 25%;
    margin: 60px auto; /*haut et bas ;  droite et gauche */
}
.welcome h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.welcome p {
    margin: 0;
    font-weight: bold;
    margin: 0;
    color: var(--grey);
}


/*cards*/

.card {
    display: flex;
    justify-content: space-between;/* centrage horizontal ne foncytionne qu'avec flexbox*/
    align-items: center; /*centrage vertical avec flex box*/
    gap: 100px;
    text-align: right;
    width:60%;
    margin: auto auto 60px auto;
}

.card:nth-child(even) { /*prend tous les enfant en position pair */
    text-align:left;
}

.card .card-content {
    width: 50%;
}

.card .card-content h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: lighter;
}

.card .card-content p {
    margin: 15px 0 40px 0;
    color: #999999;
}

.card .card-content a {
    background-color: #a2c0be;
    color: white;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 50px;
    transition: color 350ms;
}

.card .card-content a:hover {
    background-color: black;
    transition: color 350ms;
}


.card .picture {
    width: 46%;
    box-shadow: 10px 10px 0 #a2c0be;
}

footer {
    background-color: #4a4a4b;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    padding: 50px 0;
}
